<div class="keys">
    <div class="up arr" onclick="UpMove()"><i class="fa fa-arrow-up"></i></div>
    <br />
    <div class="left arr " onclick="LeftMove()" ><i class="fa fa-arrow-left"></i></div>
    <div class="down arr" onclick="DownMove()"><i class="fa fa-arrow-down"></i></div>
    <div class="right arr" onclick="RightMove()"><i class="fa fa-arrow-right"></i></div>
</div>