<nav class="navbar navbar-expand-lg fixed-top navbar-light">
    <a class="navbar-brand" href="/"><img src="/img/learnig_loop_logo2.jpeg" width="50" height="50"></a>

    <div id="navbarSupportedContent" class="navbar-div">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/levels" class="nav-link h5">Levels</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link h5">About Us</a>
            </li>
            <li class="nav-item">
                <a href="/howtoplay" class="nav-link h5">How to Play</a>
            </li>
            <li class="nav-item">
                <a href="/feedback" class="nav-link h5">Feedback</a>
            </li>
        </ul>
        <div class="dropdown profile-icon">
            <button class="btn dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="rgba(0,0,0,.7)"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">
                <li class="dropdown-item">
                    <h5 class="text-center username">
                        Welcome <span class="username-text">
                            <%= currentUser.username %>
                        </span>
                    </h5>
                </li>
                <li class="dropdown-item">
                    <h6 class="text-center username">
                        <%= currentUser.email %>
                    </h6>
                </li>
                <li class="dropdown-item">
                    <p class="text-center max-level">
                        Maximum Levels Played: <%= currentUser.maxLevel %>
                    </p>
                </li>
                <li class="dropdown-item">
                    <hr class="dropdown-divider">
                </li>
                <li class="dropdown-item">
                    <a class="btn btn-sm btn-info" href="changepassword">Change Password</a>
                    <a class="btn btn-sm btn-secondary" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>