@import url(https://fonts.googleapis.com/css?family=Lato:300);
html {
  height: 100%;
}

.keys {
  font-family: 'Lato', sans-serif;
  text-align: center;
  width: 500px;
  height: 200px;
  margin: auto;
}

.arr {
  cursor: pointer;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background: grey;
  color: white;
  font-size: 50px;
  border-right: 10px solid #4d4d4d;
  border-bottom: 10px solid #4d4d4d;
  border-left: 10px solid #5a5a5a;
  border-top: 10px solid #676767;
  display: inline-block;
  margin: 5px;
  transition: all .05s linear;
  user-select: none;
}
.arr:active {
  border-bottom: 8px solid #4d4d4d;
  text-shadow: 0 0 10px white, 0 0 10px white, 0 0 20px white;
  transform: translate(0, 2px);
}

.up {
  position: relative;
  top: -4px;
}

.pressed {
  border-bottom: 8px solid #4d4d4d;
  text-shadow: 0 0 10px white;
  transform: translate(0, 2px);
}

.names {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white;
}

.b {
  color: blue;
  text-shadow: 0 0 10px blue, 0 0 10px blue, 0 0 10px blue, 0 0 10px blue;
  font-size: 100px;
  font-family: serif;
}

.a {
  color: yellow;
  text-shadow: 0 0 10px yellow, 0 0 10px yellow, 0 0 10px yellow, 0 0 10px yellow;
  font-size: 100px;
  font-family: serif;
}/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 Jun, 2020, 2:59:10 PM
    Author     : dell
*/

