<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="img/jpg" href="/img/learnig_loop_logo2.jpeg">
  <title>About</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="/css/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/about.css">
</head>

<body>
  <%- include('./partials/navbar')%>
    <div class="container about-content">
      <h2 class="about-heading">About Learning Loop</h2>
      <h4 class="content-heading">Objective</h4>
      <p class="content-para">This game main focus is on code reading. After finishing Learning Loop, you will have a good
        practice on how a
        computer reads some code. It will be a useful skill when discovering code written by other people.

        But it’s an essential skill while writing your own code too :

        having in mind how the computer will understand it, you will make less bugs
        having been in the reader’s position, you will care about writing clearer code, with meaningful naming and
        careful
        spacing.
      </p>

      <h4 class="content-heading">Target</h4>
      <p class="content-para cp1">
        Suited for beginners who have never coded.
      </p>

      <h4 class="content-heading">Guidelines For Educators!</h4>
      <p class="content-para">
        We designed “Learning Loop” to be usable by educators with zero knowledge, or even without educator. If you plan on
        using “Learning Loop” with a classroom or friends of yours, and if you are already comfortable with the notions we
        use, try not to explain too much, and let the players figure it out by themselves.

        It’s easier for the beginners to be introduced to abstract concepts by practicing than by using complex words.
        And
        figuring it out will reward them with a “eureka” moment, and have more impact.

        We witnessed it several times in our test sessions : beginners assisted by an expert friend typically have a
        slower progression.

        To have a positive effect as a guide : only provide small hints, and only when the player is asking for it or
        seems stuck.
      </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
</body>

</html>