<%- include('./partials/admin_partials')%>

  <body>
    <!-- =============== Navigation ================ -->
    <div class="container">
      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="title">Admin Portal</span>
            </a>
          </li>

          <li>
            <a href="/admin">
              <span class="icon">
                <ion-icon name="apps-outline"></ion-icon>
              </span>
              <span class="title">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="/">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Home Page</span>
            </a>
          </li>
          <li>
            <a href="/levels">
              <span class="icon">
                <ion-icon name="pricetags-outline"></ion-icon>
              </span>
              <span class="title">All Levels</span>
            </a>
          </li>

          <li>
            <a href="/admin/feedbacks">
              <span class="icon">
                <ion-icon name="chatbubble-outline"></ion-icon>
              </span>
              <span class="title">Recieved Feedbacks</span>
            </a>
          </li>

          <li>
            <a href="/admin/faqs">
              <span class="icon">
                <ion-icon name="book-outline"></ion-icon>
              </span>
              <span class="title">FAQs</span>
            </a>
          </li>

          <li>
            <a href="/changepassword">
              <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </span>
              <span class="title">Change Password</span>
            </a>
          </li>

          <li>
            <a href="/logout">
              <span class="icon">
                <ion-icon name="log-out-outline"></ion-icon>
              </span>
              <span class="title">Log Out</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- ========================= Main ==================== -->
      <div class="main">
        <div class="topbar">
          <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
          </div>
        </div>
        <!-- Content -->
        <div class="details">
          <div class="recentOrders">
            <div class="cardHeader">
              <h2>Feedbacks Recieved</h2>
            </div>
            <table>
              <thead>
                <tr>
                  <td>Username</td>
                  <td>Message</td>
                  <td>Date Created</td>
                </tr>
              </thead>

              <tbody>
                <% for(let feedback of feedbacks){ %>
                  <tr>
                    <td>
                      <%=feedback.username %>
                    </td>
                    <td>
                      <%=feedback.message %>
                    </td>
                    <td>
                      <%=feedback.createdOn.toDateString() %>
                    </td>
                  </tr>
                  <% } %>



              </tbody>
            </table>
          </div>


        </div>
      </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="assets/js/main.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
      // add hovered class to selected list item
      let list = document.querySelectorAll(".navigation li");

      function activeLink() {
        list.forEach((item) => {
          item.classList.remove("hovered");
        });
        this.classList.add("hovered");
      }

      list.forEach((item) => item.addEventListener("mouseover", activeLink));

      // Menu Toggle
      let toggle = document.querySelector(".toggle");
      let navigation = document.querySelector(".navigation");
      let main = document.querySelector(".main");

      toggle.onclick = function () {
        navigation.classList.toggle("active");
        main.classList.toggle("active");
      };

    </script>
  </body>

  </html>