<%- include('./partials/log.ejs') %>

<body >
   
   <%- include('./partials/flash')%>
  
   <div class="container right-panel-active" id="container">
      <div class="form-container sign-in-container">
         <form action="/login" method="POST">
            <h1>Sign in</h1>
            <span>or use your account</span>
            <input type="text" placeholder="Username" name="username" required oninvalid="this.setCustomValidity('Username must not be empty')" onchange="this.setCustomValidity('')" />
            <a href="#" id="forgotLink">Forgot your password?</a>
            <button>Send LinK</button>
         </form>
         
      </div>
      
      <div class="overlay-container">
         <div class="overlay">
            <div class="overlay-panel overlay-left">
               <h1>Welcome Back!</h1>
               <p>To keep connected with us please login with your personal info</p>
               <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
               <h1>Hello, Friend!</h1>
               <p>Enter your personal details and start journey with us</p>
               <button class="ghost" id="signUp">Sign Up</button>
            </div>
         </div>
      </div>
   </div>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
   <script>
      const signUpButton = document.getElementById('signUp');
      const signInButton = document.getElementById('signIn');
      const container = document.getElementById('container');
     

      signUpButton.addEventListener('click', () => {
      container.classList.add("right-panel-active");
      });
      
      signInButton.addEventListener('click', () => {
      container.classList.remove("right-panel-active");
      });
      
   </script>
</body>