<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>How to Play</title>
  <link rel="icon" type="img/jpg" href="/img/learnig_loop_logo2.jpeg">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="/css/index.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/about.css">
</head>

<body>
  <%- include('./partials/navbar')%>
    <div class="container about-content">
      <h2 class="about-heading">How to Play Learning Loop</h2>
      <h4 class="content-heading">Basic Gameplay Instructions</h4>
      <p class="content-para">
        There are four main operations:
      <ul>
        <li><span class="code-syntax">up()</span></li>
        <li><span class="code-syntax">down()</span></li>
        <li><span class="code-syntax">left()</span></li>
        <li><span class="code-syntax">right()</span></li>
      </ul>
      These operations are performed using arrow keys of the keyboard.
      </p>

      <h4 class="content-heading">Basic Programming Constructs</h4>
      <p class="content-para">
        The game uses these basic programming constructs:
      <ul>
        <li><span class="code-syntax">if()</span> - This corresponds to the <span class="code-syntax">conditional
            if</span> in programming languages.</li>
        <li><span class="code-syntax">else{}</span> - This corresponds to the <span class="code-syntax">conditional
            else</span> in programming languages.</li>
        <li><span class="code-syntax">repeat()</span> - This corresponds to the <span class="code-syntax">iterative
            for</span> in programming languages.</li>
      </ul>
      <p><span class="code-syntax">Ex.</span> repeat(3) { ... } - This means the instructions inside the block will be
        executed 3 times</p>

      </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
</body>

</html>