.about-content {
  margin: 8em auto;
  text-align: justify;
  width: 55%;
}
.about-heading {
  margin: 1em auto;
  text-align: center;
  color: #fbb13c;
}
.content-heading {
  margin: 1em auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.55);
}
.cp1 {
  text-align: center;
}

/* styles for how to play page */
.code-syntax {
  color: red;
  font-style: italic;
}

/* styles for feedback page */
.feedback-form{
  margin: 5em auto;
  width: 55%;
}