.navbar {
  padding: 10px 25px;
}
.dropdown-toggle::after {
  content: none;
}
.username-text {
  color: red;
}
.navbar-div {
  display: contents;
}
.profile-icon {
  margin-left: auto;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.8);
}
